*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.numberbtn{
   @apply bg-button border-2 border-button shadow-md rounded-xl text-secondary font-bold w-14 h-11;
}
.deletebtn{
  @apply  bg-primary border-2 border-primary shadow-md rounded-xl text-white font-bold w-14 h-11;
}
.bigbutton{
  @apply shadow-md rounded-xl text-white font-bold col-span-2 justify-self-stretch;
}